In [47]:
import pandas as pd
import os

In [48]:
# set wd
os.getcwd()
os.chdir('/home/ad-frazier/data_science/MSBA_320/final_project')

# set pandas options
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

#### Import 1990

In [103]:
# import 1990-2000
pop_1990 = pd.read_csv('./dirty/state_pop/state_pop_1990-2000.csv', skiprows=1, skipfooter=1, engine='python')

In [104]:
pop_1990.head(5)

,Geography,"July 1, 1990 Estimate","July 1, 1991 Estimate","July 1, 1992 Estimate","July 1, 1993 Estimate","July 1, 1994 Estimate","July 1, 1995 Estimate","July 1, 1996 Estimate","July 1, 1997 Estimate","July 1, 1998 Estimate","July 1, 1999 Estimate","April 1, 2000 Census"
0,USA,"249,622,814","252,980,941","256,514,224","259,918,588","263,125,821","266,278,393","269,394,284","272,646,925","275,854,104","279,040,168","281,421,906"
1,Alabama,"4,050,055","4,099,156","4,154,014","4,214,202","4,260,229","4,296,800","4,331,102","4,367,935","4,404,701","4,430,141","4,447,100"
2,Alaska,"553,290","570,193","588,736","599,432","603,308","604,412","608,569","612,968","619,932","624,779","626,932"
3,Arizona,"3,684,097","3,788,576","3,915,740","4,065,440","4,245,089","4,432,499","4,586,940","4,736,990","4,883,342","5,023,823","5,130,632"
4,Arkansas,"2,356,586","2,383,144","2,415,984","2,456,303","2,494,019","2,535,399","2,572,109","2,601,090","2,626,289","2,651,860","2,673,400"

In [107]:
pop_1990.tail(5)

,state,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
47,Virginia,"6,216,884","6,301,217","6,414,307","6,509,630","6,593,139","6,670,693","6,750,884","6,829,183","6,900,918","7,000,174"
48,Washington,"4,903,043","5,025,624","5,160,757","5,278,842","5,375,161","5,481,027","5,569,753","5,674,747","5,769,562","5,842,564"
49,West Virginia,"1,792,548","1,798,735","1,806,451","1,817,539","1,820,421","1,823,700","1,822,808","1,819,113","1,815,609","1,811,799"
50,Wisconsin,"4,904,562","4,964,343","5,025,398","5,084,889","5,133,678","5,184,836","5,229,986","5,266,213","5,297,672","5,332,666"
51,Wyoming,"453,690","459,260","466,251","473,081","480,283","485,160","488,167","489,451","490,787","491,780"

In [106]:
# Create new column names
column_name = ['state', '1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000']

# rename columns
pop_1990.columns = column_name

# Drop last year - Import in next df
pop_1990 = pop_1990.drop(columns='2000')

### Import 2000

In [114]:
# import 1990-2000
pop_2000 = pd.read_csv('./dirty/state_pop/state_pop_2000-2010.csv', skiprows=3, skipfooter=10, engine='python')

In [115]:
pop_2000.head(5)

,Unnamed: 0,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,United States,"282,162,411","284,968,955","287,625,193","290,107,933","292,805,298","295,516,599","298,379,912","301,231,207","304,093,966","306,771,529","309,349,689"
1,Northeast,"53,666,295","53,915,522","54,143,915","54,334,453","54,423,533","54,451,230","54,522,659","54,653,362","54,875,926","55,133,101","55,361,036"
2,Midwest,"64,491,431","64,776,531","65,018,293","65,276,954","65,532,305","65,751,872","66,028,555","66,293,689","66,523,935","66,748,437","66,975,848"
3,South,"100,565,549","101,849,575","103,150,787","104,380,188","105,883,977","107,479,771","109,076,933","110,688,742","112,184,930","113,548,615","114,865,724"
4,West,"63,439,136","64,427,327","65,312,198","66,116,338","66,965,483","67,833,726","68,751,765","69,595,414","70,509,175","71,341,376","72,147,081"

In [116]:
pop_2000.tail(15)

,Unnamed: 0,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
41,Oklahoma,"3,454,365","3,467,100","3,489,080","3,504,892","3,525,233","3,548,597","3,594,090","3,634,349","3,668,976","3,717,572","3,761,702"
42,Oregon,"3,429,708","3,467,937","3,513,424","3,547,376","3,569,463","3,613,202","3,670,883","3,722,417","3,768,748","3,808,600","3,838,957"
43,Pennsylvania,"12,284,173","12,298,970","12,331,031","12,374,658","12,410,722","12,449,990","12,510,809","12,563,937","12,612,285","12,666,858","12,709,630"
44,Rhode Island,"1,050,268","1,057,142","1,065,995","1,071,342","1,074,579","1,067,916","1,063,096","1,057,315","1,055,003","1,053,646","1,052,886"
45,South Carolina,"4,024,223","4,064,995","4,107,795","4,150,297","4,210,921","4,270,150","4,357,847","4,444,110","4,528,996","4,589,872","4,636,312"
46,South Dakota,"755,844","757,972","760,020","763,729","770,396","775,493","783,033","791,623","799,124","807,067","816,463"
47,Tennessee,"5,703,719","5,750,789","5,795,918","5,847,812","5,910,809","5,991,057","6,088,766","6,175,727","6,247,411","6,306,019","6,356,897"
48,Texas,"20,944,499","21,319,622","21,690,325","22,030,931","22,394,023","22,778,123","23,359,580","23,831,983","24,309,039","24,801,761","25,257,114"
49,Utah,"2,244,502","2,283,715","2,324,815","2,360,137","2,401,580","2,457,719","2,525,507","2,597,746","2,663,029","2,723,421","2,776,469"
50,Vermont,"609,618","612,223","615,442","617,858","619,920","621,215","622,892","623,481","624,151","624,817","625,960"
51,Virginia,"7,105,817","7,198,362","7,286,873","7,366,977","7,475,575","7,577,105","7,673,725","7,751,000","7,833,496","7,925,937","8,024,617"
52,Washington,"5,910,512","5,985,722","6,052,349","6,104,115","6,178,645","6,257,305","6,370,753","6,461,587","6,562,231","6,667,426","6,744,496"
53,West Virginia,"1,807,021","1,801,481","1,805,414","1,812,295","1,816,438","1,820,492","1,827,912","1,834,052","1,840,310","1,847,775","1,853,973"
54,Wisconsin,"5,373,999","5,406,835","5,445,162","5,479,203","5,514,026","5,546,166","5,577,655","5,610,775","5,640,996","5,669,264","5,691,047"
55,Wyoming,"494,300","494,657","500,017","503,453","509,106","514,157","522,667","534,876","546,043","559,851","564,460"

In [117]:
# Create new column names
column_name = ['state', '2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010']

# rename columns
pop_2000.columns = column_name

# Drop last year - Import in next df
pop_2000 = pop_2000.drop(columns='2010')

### Import 2010s

In [120]:
# import 1990-2000
pop_2010 = pd.read_csv('./dirty/state_pop/state_pop_2010-2020.csv', skiprows=3, skipfooter=8, engine='python')

In [127]:
pop_2010.head(5)

,state,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,United States,"308,745,538","311,583,481","313,877,662","316,059,947","318,386,329","320,738,994","323,071,755","325,122,128","326,838,199","328,329,953","329,484,123"
1,Northeast,"55,317,240","55,608,318","55,782,661","55,912,775","56,021,339","56,052,790","56,063,777","56,083,383","56,084,543","56,002,934","55,849,869"
2,Midwest,"66,927,001","67,164,092","67,348,275","67,576,524","67,765,576","67,885,682","68,018,175","68,160,342","68,263,019","68,340,091","68,316,744"
3,South,"114,555,744","116,019,483","117,264,196","118,397,213","119,666,248","121,049,223","122,419,547","123,611,036","124,649,156","125,686,544","126,662,754"
4,West,"71,945,553","72,791,588","73,482,530","74,173,435","74,933,166","75,751,299","76,570,256","77,267,367","77,841,481","78,300,384","78,654,756"

In [125]:
pop_2010 = pop_2010.drop(columns=['Estimates Base','2010'])

KeyError: "['Estimates Base' '2010'] not found in axis"

In [126]:
# Initial column drop

# Create new column names
column_name = ['state', '2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']

# rename columns
pop_2010.columns = column_name

### Merge Population ranges together

In [130]:
pop = pop_1990.merge(pop_2000, how='inner', on='state')

In [132]:
pop = pop.merge(pop_2010, how='inner', on='state')

In [134]:
pop.sample(5)

,state,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
48,West Virginia,"1,792,548","1,798,735","1,806,451","1,817,539","1,820,421","1,823,700","1,822,808","1,819,113","1,815,609","1,811,799","1,807,021","1,801,481","1,805,414","1,812,295","1,816,438","1,820,492","1,827,912","1,834,052","1,840,310","1,847,775","1,852,994","1,856,606","1,857,446","1,854,768","1,850,569","1,843,332","1,832,435","1,818,683","1,805,953","1,795,263","1,784,787"
25,Missouri,"5,128,880","5,170,800","5,217,101","5,271,175","5,324,497","5,378,247","5,431,553","5,481,193","5,521,765","5,561,948","5,607,285","5,641,142","5,674,825","5,709,403","5,747,741","5,790,300","5,842,704","5,887,612","5,923,916","5,961,088","5,988,927","6,011,182","6,026,027","6,042,989","6,059,130","6,075,411","6,091,384","6,111,382","6,125,986","6,140,475","6,151,548"
9,Florida,"13,033,307","13,369,798","13,650,553","13,927,185","14,239,444","14,537,875","14,853,360","15,186,304","15,486,559","15,759,421","16,047,515","16,356,966","16,689,370","17,004,085","17,415,318","17,842,038","18,166,990","18,367,842","18,527,305","18,652,644","18,801,310","19,055,607","19,302,016","19,551,678","19,853,880","20,219,111","20,627,237","20,977,089","21,254,926","21,492,056","21,733,312"
1,Alaska,"553,290","570,193","588,736","599,432","603,308","604,412","608,569","612,968","619,932","624,779","627,963","633,714","642,337","648,414","659,286","666,946","675,302","680,300","687,455","698,895","710,231","722,349","730,810","737,626","737,075","738,430","742,575","740,983","736,624","733,603","731,158"
45,Vermont,"564,798","568,606","572,751","577,748","583,836","589,002","593,701","597,239","600,416","604,683","609,618","612,223","615,442","617,858","619,920","621,215","622,892","623,481","624,151","624,817","625,741","627,197","626,361","626,603","625,693","625,810","624,366","625,132","624,802","624,046","623,347"

## Restructure

In [135]:
population = pop.melt(id_vars='state')

In [140]:
population

              state  year  population
0           Alabama  1990   4,050,055
1            Alaska  1990     553,290
2           Arizona  1990   3,684,097
3          Arkansas  1990   2,356,586
4        California  1990  29,959,515
...             ...   ...         ...
1576       Virginia  2020   8,590,563
1577     Washington  2020   7,693,612
1578  West Virginia  2020   1,784,787
1579      Wisconsin  2020   5,832,655
1580        Wyoming  2020     582,328

[1581 rows x 3 columns]

In [139]:
population = population.rename(columns={'variable':'year','value':'population'})

## Write out

In [141]:
population.to_csv('./clean/population_annual_state.csv', index=False)